.main {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./img/bg.jpg') no-repeat center; */
    background-size: cover;
    background-color: var(--light);
}
.nav {
    width: 100%;
    position: relative;
    z-index: 100;
}

.nav .topNavbar {
    background-color: var(--white);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0px 0px 10px var(--light);
}

.nav .topNavbar .logo {
    font-size: 24px;
    color: var(--secondary);
    font-weight: 620;
    margin-left: 30px;
}

.nav .topNavbar .logo:hover {
    color: var(--light-secondary);
    cursor: pointer;
}

.nav .topNavbar .navList {
    padding: 0 2rem;
    display: flex;
    align-items: center;
}

.nav .topNavbar .navList a {
    font-size: 16px;
    color: var(--dark);
    padding-left: 30px;
}

.nav .topNavbar .navList a:last-child {
    background-color: var(--secondary);
    margin-left: 30px;
    padding: 10px 20px;
    color: var(--white);
    border-radius: 4px;
}

.nav .topNavbar .navList a:hover {
    color: var(--secondary);
}

.nav .topNavbar .navList a:last-child:hover {
    color: var(--white);
    opacity: 0.8;
}

.main .body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    grid-gap: 20px;
}

.body .bodyBox {
    /* background-color: var(--white);
    border-radius: 4px;
    min-height: 200px;
    box-shadow: 0px 0px 2px var(--light); */
    padding: 20px;
    text-align: center;
}
.body .bodyBox:last-child {
    background-color: transparent;
    box-shadow: none;
}

.body .bodyBox:first-child {
    background-color: transparent;
    box-shadow: none;
    margin-top: 100px;
}

.bodyBox h2 {
    margin: 20px 0;
    color: var(--green);
    font-size: 2em;
}

.bodyBox .button {
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    padding: 4px 20px;
    background-color: var(--light-secondary);
    color: var(--white);
    cursor: pointer;
}

.bodyBox a {
    padding: 10px;
    font-size: 12px;
    color: var(--secondary);
}

.img {
    position: absolute;
    max-width: 700px;
    margin-left: -380px;
    margin-top: -200px;
    opacity: 0.9;
}

.title {
    margin-top: 110px;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    color: var(--secondary);
}

.margin {
    width: 300px;
    padding: 1px;
    background-color: var(--grey2);
    margin: 0 auto;
}

.feature {
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    padding: 20px 60px;
    /* background-color: var(--light-secondary); */
}

.feature .featureBox {
    padding: 20px;
    background-color: var(--white);
    box-shadow: 0 0 2px var(--light);
    border-radius: 10px;
    min-height: 180px;
}

.feature .featureBox p {
    font-size: 1.2em;
    color: var(--dark);
    margin-top: 30px;
    text-align: center;
    font-weight: 400;
}

.feature .featureBox .icon {
    display: block;
    font-size: 3em;
    text-align: center;
    margin: 4px auto;
    color: var(--green);
    opacity: 0.9;
    cursor: pointer;
}

.footer {
    position: relative;
    width: 100%;
    height: 140px;
    background-color: var(--secondary);
    padding: 10px;
}

.footer p {
    text-align: center;
    padding: 4px;
    font-size: 24px;
    font-weight: 400;
    color: var(--white);
}

.socialGroup {
    margin-bottom: 10px;
    text-align: center;
}

.socialGroup a {
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
    height: 30px;
    width: 30px;
    background-color: var(--white);
    color: var(--secondary);
    font-size: 12px;
}

.socialGroup a:hover {
    opacity: 0.8;
}

.dev {
    color: var(--white);
    float: right;
    font-style: italic;
    font-size: 12px;
    padding: 10px;
}
