.nav {
    width: 100%;
    transition: all 0.5s ease;
}

.nav .topNavbar {
    background: rgb(47, 50, 51);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.nav .topNavbar .hamburger {
    font-size: 20px;
    color: #f4fbff;
}

.nav .topNavbar .hamburger:hover {
    color: #a2ecff;
    cursor: pointer;
}

.nav .topNavbar .navList {
    padding: 0 2rem;
    display: flex;
    align-items: center;
}

.nav .topNavbar .navList a {
    font-size: 20px;
    color: #f4fbff;
    padding-left: 25px;
}

.nav .topNavbar .navList a:hover {
    color: #a2ecff;
}

.nav .topNavbar .navList .logout {
    text-decoration: none;
    color: rgb(47, 50, 51);
    background-color: azure;
    padding: 3px 5px;
    border-radius: 3px;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: initial;
    font-weight: 800;
    font-size: 12px;
}

.nav .topNavbar .navList .logout:hover {
    text-decoration: none;
    color: rgb(47, 50, 51);
    background-color: #a2ecff;
    cursor: pointer;
}
