.navigation {
    height: 70px;
    background: rgb(14, 23, 33);
    position: relative;
}

.logo {
    position: absolute;
    padding-left: 2em;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.5em;
}

.logo a {
    color: #ffffff;
    text-decoration: none;
}

.login {
    position: relative;
    padding-left: 20px;
    float: right;
    line-height: 70px;
    font-size: 1em;
}

.login a {
    color: #ffff;
    text-decoration: none;
    background-color: rgb(24, 182, 174);
    padding: 7px 25px;
    border-radius: 1px;
}

.navcontainer {
    /* max-width: 1300px; */
    margin: 0 auto;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
    position: relative;
}

nav a {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #262626;
    color: #ffffff;
    text-decoration: none;
}
nav a {
    color: #ffffff;
}
