.tableContainer .tableMain select {
    width: 16em;
    font-size: 12px;
    background-color: var(--white);
    outline: none;
    border: none;
    padding: 6px 4px;
    border-radius: 2px;
    color: var(--dark-grey);
}

.tableContainer .selectBox .option:hover option,
.tableContainer .selectBox .option:focus option {
    color: var(--secondary);
}

.tableContainer .tableMain {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 2px 4px;
}

.tableRow td {
    position: relative;
    border-radius: 0.25em;
}

.tableRow td {
    border-color: var(--light);
    border: 1px solid var(--light);
    padding: 4px;
}

.tableMain input,
.tableMain label {
    position: relative;
    width: 99%;
    border: none;
    outline: none;
    font-size: 12px;
    margin-left: 6px;
    color: var(--dark-grey);
    background-color: transparent;
}

.tableRow td:nth-child(2),
.tableRow td:nth-child(3),
.tableRow td:nth-child(4),
.tableRow td:nth-child(6),
.tableRow td:nth-child(7),
.tableRow td:nth-child(8) {
    background-color: var(--light);
}

.tableMain .text {
    font-size: 14px;
    color: var(--secondary);
    padding: 10px;
}

.tableMain th span {
    color: var(--red);
}
