.text {
    position: relative;
    width: 200px;
    margin: 10px auto;
    padding: 6px;
    background-color: var(--deep-red);
    border-radius: 4px;
    color: var(--white);
    text-align: center;
    font-size: 12px;
    z-index: 1000;
}
