.wrapper {
    box-sizing: border-box;
    background-color: var(--white);
}

.formWrapper {
    width: 95%;
    margin: 10px auto;
    box-shadow: 2px 2px 5px 2px var(--light);
    padding: 20px;
}

.formWrapper h2 {
    margin: 0 0 30px;
    padding: 0;
    color: var(--dark);
    text-align: center;
}

.formWrapper .inputbox {
    position: relative;
}

.formWrapper .inputbox input {
    width: 100%;
    padding: 10px 0px;
    font-size: 14px;
    color: var(--dark);
    margin-bottom: 30px;
    border: 0.7px solid var(--light);
    border-radius: 4px;
    outline: none;
    margin-bottom: 32px;
}
.formWrapper .inputbox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 10px;
    font-size: 14px;
    color: var(--dark-grey);
    pointer-events: none;
    transition: 0.2s;
}

.formWrapper .inputbox input:focus + label,
.formWrapper .inputbox input:valid + label {
    top: -32px;
    left: -8px;
    color: var(--secondary);
    font-size: 14px;
}

.formWrapper .button {
    background-color: var(--primary);
    padding: 10px 20px;
    color: var(--white);
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin: 0 auto;
    letter-spacing: 1px;
    border: none;
    border-radius: 2px;
    width: 100%;
}

.formWrapper .button:hover {
    background-color: var(--secondary);
}

.formWrapper .btn {
    float: right;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: var(--green);
    border-radius: 2px;
    color: var(--white);
}
