.wrapper {
    box-sizing: border-box;
    background-color: var(--white);
}

.formWrapper {
    width: 95%;
    margin: 10px auto;
    box-shadow: 0 2px 3px var(--light);
    padding: 20px;
}

.formWrapper p {
    margin: 0 0 30px;
    padding: 0;
    color: var(--secondary);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.formWrapper .inputbox {
    position: relative;
}

.formWrapper .inputbox input,
.formWrapper .inputbox textarea,
.formWrapper .inputbox select {
    width: 100%;
    padding: 10px 0px;
    font-size: 12px;
    color: var(--dark-grey);
    border: 1px solid var(--light);
    border-radius: 4px;
    outline: none;
    margin-bottom: 32px;
    padding-left: 6px;
}

.formWrapper .inputbox select {
    background-color: var(--white);
}

.formWrapper .inputbox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 10px;
    font-size: 12px;
    color: var(--dark-grey);
    pointer-events: none;
    transition: 0.2s;
}

.formWrapper .inputbox input:focus + label,
.formWrapper .inputbox input:valid + label {
    top: -32px;
    left: -8px;
    color: var(--secondary);
    font-size: 14px;
}

.formWrapper .inputbox textarea:focus + label,
.formWrapper .inputbox textarea:valid + label {
    top: -32px;
    left: -8px;
    color: var(--secondary);
    font-size: 14px;
}

.formWrapper .button {
    background-color: var(--secondary);
    padding: 10px 20px;
    color: var(--white);
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin: 0 auto;
    letter-spacing: 1px;
    border: none;
    border-radius: 2px;
    width: 20em;
    display: block;
    margin-top: 5em;
    cursor: pointer;
}

.formWrapper .button:hover {
    opacity: 0.8;
}

.formWrapper .btn {
    float: right;
    border: none;
    padding: 6px 14px;
    margin: 6px 0;
    background-color: var(--light);
    border-radius: 2px;
    color: var(--dark);
    cursor: pointer;
    font-size: 12px;
}

.formWrapper .btn:hover {
    color: var(--green);
}

.formWrapper .gridTwo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4em;
}

.formWrapper .gridThree {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4em;
}

.inputbox span {
    color: var(--red);
}
