* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    margin-top: 70px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    width: 780px;
    max-width: 100%;
    min-height: 600px;
}

.formContainer {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.signIn {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container .formContainer h2 {
    text-align: center;
}

.container .formContainer span {
    font-size: 12px;
}

.container a {
    color: var(--dark);
    font-size: 12px;
    text-decoration: none;
    margin: 0px 0;
}

.container button {
    border-radius: 20px;
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    color: var(--white);
    font-size: 12px;
    font-weight: 700;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 100ms;
    cursor: pointer;
    margin-top: 20px;
}

.container button:hover {
    opacity: 0.9;
}

.container button:active {
    transform: scale(0.95);
}

.container button:focus {
    outline: none;
}

.container .formContainer form {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    text-align: center;
}

.container .formContainer input {
    border: none;
    padding: 4px;
    margin: 12px 0;
    width: 100%;
    outline: none;
    border-bottom: 1px solid var(--grey2);
}

.container button.btn {
    background-color: transparent;
    border-color: var(--white);
}

.container button.btn:hover {
    opacity: 0.8;
}

.container p {
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 6px 0 30px;
}

.socialGroup {
    margin-bottom: 20px;
}

.socialGroup a {
    border: 2px solid var(--light);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.overlayContainer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: linear-gradient(to right, var(--secondary), var(--light-secondary));
    color: var(--white);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transition: transform 0.6s ease-in-out;
}

.overlayPanel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    height: 100%;
    width: 50%;
    transition: transform 0.6s ease-in-out;
}

.overlayRight {
    right: 0;
}
