* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout {
    display: grid;
    grid-template-columns: minmax(0, 15%) minmax(0, 85%);
}

.layoutWhenSidebarIsHidden {
    display: grid;
    grid-template-columns: minmax(0, 5%) minmax(0, 95%);
}

.container {
    display: block;
    inset: 0;
    width: 100%;
}
