.dashContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 4fr));
    grid-gap: 20px;
    padding: 20px;
}

.dashContainer > .dashBox:nth-child(1) {
    background: var(--primary);
}
.dashContainer > .dashBox:nth-child(2) {
    background: var(--secondary);
}
.dashContainer > .dashBox:nth-child(3) {
    background: var(--light-secondary);
}

.dashContainer .dashBox {
    position: relative;
    padding: 20px;
    box-shadow: 0px 10px 15px var(--grey);
    border-radius: 4px;
    min-height: 200px;
}

.dashContainer .dashBox .itemNumber {
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--white);
}

.dashContainer .dashBox .itemName {
    font-size: 1.5em;
    margin-left: 3px;
    color: var(--white);
}

.dashContainer .dashBox .itemIcon {
    font-size: 3em;
    color: var(--white);
    position: absolute;
    right: 20px;
    bottom: 10px;
    opacity: 0.7;
}
