.dashContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 4fr));
    grid-gap: 14px 20px;
    padding: 10px 20px;
}

.dashContainer > .dashBox:nth-child(1) {
    background: var(--blue);
}
.dashContainer > .dashBox:nth-child(2) {
    background: var(--deep-primary);
}
.dashContainer > .dashBox:nth-child(3) {
    background: var(--primary);
}
.dashContainer > .dashBox:nth-child(4) {
    background: var(--secondary);
}
.dashContainer > .dashBox:nth-child(5) {
    background: var(--light-secondary);
}
.dashContainer > .dashBox:nth-child(6) {
    background: var(--light-secondary2);
}
.dashContainer > .dashBox:nth-child(7) {
    background: var(--green);
}
.dashContainer > .dashBox:nth-child(8) {
    background: var(--red);
}

.dashContainer .dashBox {
    position: relative;
    padding: 10px 20px;
    box-shadow: 0 2px 3px var(--grey2);
    border-radius: 4px;
    min-height: 8em;
}

.dashContainer .dashBox .itemNumber {
    position: relative;
    font-weight: 500;
    font-size: 1.7em;
    color: var(--white);
}

.dashContainer .dashBox .itemName {
    font-size: 1.1em;
    font-weight: 450;
    margin-left: 1px;
    color: var(--white);
}

.dashContainer .dashBox .itemIcon {
    font-size: 1.8em;
    color: var(--white);
    position: absolute;
    right: 20px;
    bottom: 10px;
    opacity: 0.7;
}

.dashBox .itemNumber span {
    font-size: 0.6em;
    font-weight: 800;
    position: absolute;
    margin: 8px 4px;
}
