.sidebar {
    background: var(--dark);
    position: fixed;
    height: 100vh;
    width: 15%;
}

.sidebar .logo {
    height: 70px;
    border: 1px solid var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .logo h2 {
    color: var(--white);
    cursor: pointer;
}

.sidebar .logo h2:hover {
    color: var(--secondary);
}

.sidebar ul li a {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid var(--grey);
    color: var(--light);
    font-size: 16px;
}

.sidebar ul li a .icon {
    color: var(--light);
    padding: 0 10px;
}

.sidebar ul li .text {
    margin-left: 15px;
}

.sidebar ul li a:hover {
    color: var(--secondary);
    background: var(--white);
    border-right: 2px solid rgb(5, 68, 104);
}

.sidebar ul li a:hover .icon {
    color: var(--secondary);
}

/* ...................................... */

.sidebarHide {
    background: var(--dark);
    position: fixed;
    height: 100vh;
    width: 5%;
}

.sidebarHide ul li a .icon {
    color: var(--light);
    width: 30px;
    display: inline-block;
}

.sidebarHide .logo {
    height: 70px;
    border: 1px solid var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarHide .logo h2 {
    color: var(--white);
    cursor: pointer;
}

.sidebarHide .logo h2:hover {
    color: var(--secondary);
}

.sidebarHide ul li a {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid var(--grey);
    color: var(--light);
    font-size: 18px;
}

.sidebarHide ul li .item {
    margin-left: 15px;
}

.sidebarHide ul li a:hover {
    color: var(--secondary);
    background: var(--white);
    border-right: 2px solid rgb(5, 68, 104);
}

.sidebarHide ul li a:hover .icon {
    color: var(--secondary);
}
