.sidebar {
    background: rgb(47, 50, 51);
    position: relative;
    height: 100vh;
}

.sidebar .logo {
    height: 70px;
    border: 1px solid azure;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .logo h2 {
    color: #ffffff;
}

.sidebar ul li a {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #879aa8;
    color: rgb(241, 237, 237);
    font-size: 18px;
}

.sidebar ul li a .icon {
    color: #dee4ec;
    padding: 0 10px;
}

.sidebar ul li .text {
    margin-left: 15px;
}

.sidebar ul li a:hover {
    color: #0cb18d;
    background: white;
    border-right: 2px solid rgb(5, 68, 104);
}

.sidebar ul li a:hover .icon {
    color: #0cb18d;
}

/* ...................................... */

.sidebarHide {
    background: rgb(47, 50, 51);
    position: relative;
    height: 100vh;
}

.sidebarHide ul li a .icon {
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.sidebarHide .logo {
    height: 70px;
    border: 1px solid azure;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarHide .logo h2 {
    color: #ffffff;
}

.sidebarHide ul li a {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #879aa8;
    color: rgb(241, 237, 237);
    font-size: 18px;
}

.sidebarHide ul li .item {
    margin-left: 15px;
}

.sidebarHide ul li a:hover {
    color: #0cb18d;
    background: white;
    border-right: 2px solid rgb(5, 68, 104);
}

.sidebarHide ul li a:hover .icon {
    color: #0cb18d;
}
