* {
    box-sizing: border-box;
}

.clear:after {
    content: '';
    display: table;
    clear: both;
}

.body {
    position: relative;
    width: 100%;
    height: 100%;
    color: var(--dark);
    background-color: var(--light);
    padding: 6px 0px;
}

.page {
    width: 210mm;
    height: 294mm;
    margin: 0 auto;
    background-color: var(--white);
    padding: 2em;
    border-radius: 2px;
    font-size: 12px;
}

@page {
    size: A4;
    margin: 0;
}

header {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--grey);
}

a {
    color: var(--primary);
    text-decoration: none;
}

.logo {
    float: left;
    margin-top: 12px;
}

.logo img {
    height: 26px;
}

.company {
    float: right;
    text-align: right;
}

.details {
    margin-bottom: 30px;
}

.client {
    padding-left: 6px;
    border-left: 6px solid var(--secondary);
    float: left;
}

.client .to {
    color: var(--dark-grey);
}

.name {
    font-size: 1.2em;
    font-weight: normal;
}

.invoice {
    float: right;
    text-align: right;
}

.invoice .name {
    color: var(--dark);
    font-size: 1.2em;
    line-height: 1em;
    font-weight: normal;
    margin: 0 0 10px 0;
}

.invoice .date {
    font-size: 1em;
    color: var(--dark-grey);
}

.tableMain {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0px auto;
}

.tableMain th,
.tableMain td {
    padding: 20px;
    background-color: var(--light);
    text-align: center;
    border-bottom: 1px solid var(--white);
    color: var(--dark);
}

.tableMain th {
    white-space: nowrap;
    font-weight: 600;
}

.tableMain td {
    text-align: right;
    padding: 10px;
}

.tableMain td.no,
.tableMain td.desc,
.tableMain td.unit,
.tableMain td.qty,
.tableMain td.total {
    font-size: 1em;
    text-align: center;
}

.tableMain .desc,
.tableMain .qty {
    background: var(--light);
}

.tableMain tbody tr:last-child td {
    border: none;
}

.tableMain tfoot td {
    padding: 10px 20px;
    background: var(--white);
    border-bottom: none;
    font-size: 1.1em;
    font-weight: 500;
    white-space: nowrap;
}

.tableMain tfoot tr:first-child td {
    border-top: none;
}

.tableMain tfoot tr:last-child td {
    color: var(--green);
    font-size: 1.2em;
    border-top: 1px solid var(--grey);
}

.tableMain tfoot tr td:first-child {
    border: none;
}

.text {
    font-size: 1.2em;
    margin: 40px 0;
}

.notices {
    padding-left: 6px;
    border-left: 6px solid var(--secondary);
}

.notices .notice {
    font-size: 1em;
}

.note {
    margin-top: 50px;
    text-align: center;
    font-style: italic;
}
