.tableContainer {
    width: 95%;
    margin: 30px auto;
}

.tableMain {
    border-collapse: separate;
    border-spacing: 0 10px;
    display: table;
    width: 100%;
}

.tableRow {
    box-shadow: 0 2px 3px var(--light);
}

.tableRow th {
    box-shadow: 0px 0px 0px 1px var(--light);
    font-weight: 500;
    font-size: 12px;
    padding: 12px;
}

.tableRow td {
    text-align: center;
    font-size: 12px;
    color: var(--dark);
    padding: 10px;
    cursor: pointer;
}

.icon {
    font-size: 10px;
    text-decoration: none;
    padding: 8px;
}

.icon:nth-child(1) {
    color: var(--secondary);
}

.icon:nth-child(2) {
    color: var(--red);
}

.icon:hover {
    opacity: 0.7;
}

.tableContainer .wrapper {
    display: flex;
    justify-content: space-between;
}

.tableContainer .button {
    background-color: var(--secondary);
    border: none;
    padding: 0 30px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
    color: var(--white);
}

.tableContainer .button a {
    text-decoration: none;
    color: var(--white);
}

.tableContainer .button:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.tableContainer .searchField {
    padding: 10px 10px;
    width: 300px;
    appearance: none;
    border-radius: 2px;
    font-size: 12px;
    outline: none;
    border: 0.5px solid var(--light);
}

.tableContainer .searchButton {
    background-color: var(--white);
    padding: 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 2px;
}

.tableContainer .searchButton:hover {
    color: var(--secondary);
}

.container,
.containerItem {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-gap: 1px;
    padding: 6px;
}

.container {
    padding: 4px;
    font-size: 12px;
}

.container .head {
    text-align: center;
    font-size: 12px;
    padding: 10px;
    box-shadow: 0px 0px 0px 1.4px var(--light);
    color: var(--dark);
    font-weight: 500;
}

.containerItem {
    background-color: var(--white);
    margin: 10px auto;
    box-shadow: 0 2px 3px var(--light);
}
.containerItem .item {
    text-align: center;
    padding: 2px;
    cursor: pointer;
    font-size: 12px;
}
