.container,
.containerItem {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 6px;
}

.container .head {
    padding: 4px;
    box-shadow: 0px 0px 0px 1.4px var(--light);
    text-align: center;
    color: var(--light);
    font-size: 12px;
    color: var(--dark);
}

.containerItem .item {
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
}
