.container,
.containerItem {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 6px;
}

.container .head {
    padding: 4px;
    box-shadow: 0px 2px 5px rgb(167, 167, 182);
    border-radius: 2px;
    text-align: center;
    background-color: var(--green);
    color: var(--white);
}

.containerItem .item {
    border: 1px solid var(--light);
    border-radius: 2px;
    text-align: center;
}
