.tableContainer {
    width: 90%;
    margin: 30px auto;
}

.tableMain {
    border-collapse: separate;
    border-spacing: 0 10px;
    display: table;
    width: 100%;
}

.tableRow {
    box-shadow: 3px 3px 5px 3px var(--light);
}

.tableRow th {
    background-color: var(--light-green);
    color: var(--white);
    font-weight: 500;
    font-size: 12px;
    padding: 12px;
}

.tableRow td {
    text-align: center;
    font-size: 12px;
    color: var(--dark);
    padding: 10px;
}

.icon {
    font-size: 10px;
    text-decoration: none;
    padding: 8px;
}

.icon:nth-child(1) {
    color: var(--secondary);
}

.icon:nth-child(2) {
    color: var(--red);
}

.icon:hover {
    opacity: 0.7;
}

.tableContainer .wrapper {
    display: flex;
    justify-content: space-between;
}

.tableContainer .button {
    background-color: var(--primary);
    border: none;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
    color: var(--white);
}

.tableContainer .button a {
    text-decoration: none;
    color: var(--white);
}

.tableContainer .button:hover {
    background-color: var(--secondary);
    transition: 0.5s;
}

.tableContainer .searchField {
    background-color: var(--light);
    border: none;
    padding: 10px 10px;
    width: 300px;
    appearance: none;
    border-radius: 2px;
    font-size: 12px;
    outline: none;
}

.tableContainer .searchButton {
    background-color: var(--light);
    padding: 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 2px;
}

.tableContainer .searchButton:hover {
    color: var(--secondary);
}
