.tableContainer .tableMain select {
    width: 16em;
    font-size: 12px;
    background-color: var(--white);
    outline: none;
    border: none;
    padding: 4px 10px;
    border-radius: 2px;
    color: var(--dark-grey);
    width: 100%;
}

.tableContainer .selectBox .option:hover option,
.tableContainer .selectBox .option:focus option {
    color: var(--secondary);
}

.tableContainer .tableMain {
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px 4px;
    table-layout: fixed;
}

.tableRow td {
    position: relative;
    border-radius: 0.25em;
}

.tableRow td {
    border-color: var(--light);
    border: 1px solid var(--light);
    padding: 4px;
}

.tableMain input {
    width: 98%;
    border: none;
    outline: none;
    margin-left: 6px;
    font-size: 12px;
    background-color: transparent;
}

.tableMain .text {
    font-size: 14px;
    color: var(--secondary);
    padding: 10px;
}

.tableMain th span {
    color: var(--red);
}

.options {
    width: 288px;
    font-size: 12px;
    opacity: 0.8;
    cursor: pointer;
    padding: 4px;
}

.options:hover {
    color: var(--white);
    background-color: var(--secondary);
    z-index: 100;
}

.lightTd {
    background-color: var(--light);
}
