@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.content {
    margin-left: 250px;
    background: rgb(245, 245, 245);
    display: block;
    height: 100%;
    padding: 1rem;
}

.content .item {
    width: 20vw;
    margin: 0 auto;
    padding: 3px;
}

.content .item input {
    display: block;
    width: 15vw;
    padding: 4px;
    margin: 5px 0;
}

.content .item select,
.content .item label {
    padding: 2px;
    display: inline-block;
    width: 10vw;
    margin: 0 auto;
}

button {
    display: block;
    margin: 5px 0;
    padding: 5px;
    color: white;
    background: rgb(37, 82, 16);
    border-radius: 5px;
}

/* .purchase_lines{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */
