@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

:root {
    --deep-primary: #415dd9;
    --primary: #457dc3;
    --secondary: #41add9;
    --light-secondary: #3ecbcf;
    --light-secondary2: #2cbdb3;
    --dark: #333;
    --dark-blue: #23395d;
    --blue: #2b5199;
    --dark-grey: #555;
    --grey: #7987a1;
    --grey2: #aebacf;
    --light-grey: #dee2e9;
    --light: #f0f0f0;
    --white: #fff;
    --green: #5cb484;
    --light-green: #7eb88b;
    --red: #dd4545;
}

body {
    background-color: var(--white);
}
