.reportContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    padding: 20px;
}

.reportContainer .item {
    padding: 20px;
    box-shadow: 0 0 2px var(--grey2);
    border-radius: 4px;
    min-height: 140px;
}

.reportContainer > .item:nth-child(odd) {
    background: var(--secondary);
}
.reportContainer > .item:nth-child(even) {
    background: var(--light-secondary);
}

.reportContainer .item p {
    font-size: 1.2em;
    color: var(--white);
    margin-top: 20px;
    text-align: center;
    font-weight: 400;
}

.reportContainer .item .icon {
    display: block;
    font-size: 1.8em;
    text-align: center;
    margin: 4px auto;
    color: var(--white);
    opacity: 0.7;
    cursor: pointer;
}

.reportContainer .item .button {
    display: flex;
    justify-content: center;
}

.reportContainer .item .button button {
    background-color: var(--primary);
    color: var(--white);
    font-size: 12px;
    margin-top: 20px;
    padding: 2px 12px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.reportContainer .item button:hover {
    opacity: 0.8;
}
